<div class="container">
  <div class="ordem-compra">
    <form #formulario="ngForm" (ngSubmit)="confirmarCompra()" novalidate>
      <h5>Sua Compra</h5>
      <hr />

      <!-- Item 1 -->
      <div style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
        <div class=" col-sm-1">
          <img src="/assets/ofertas/1/img1.jpg" class="img-fluid">
        </div>

        <div class=" col-sm-6">
          Super Burger
          <br />
          Rodízio de Mini-hambúrger com opção de entrada.
        </div>
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-link">-</button>
            1
            <button type="button" class="btn btn-link">+</button>
          </div>
        </div>

        <div class="col-sm-3 d-flex justify-content-end">29.90</div>
      </div>

      <!-- Item 2 -->
      <div style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
        <div class="col-sm-1">
          <img src="/assets/ofertas/4/img1.jpg" class="img-fluid">
        </div>

        <div class="col-sm-6">
          Estância das águas
          <br />
          Diversão garantida com piscinas, trilhas e muito mais.
        </div>
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-link">-</button>
            1
            <button type="button" class="btn btn-link">+</button>
          </div>
        </div>

        <div class="col-sm-3 d-flex justify-content-end">31.90</div>
      </div>

      <!-- Total -->
      <div class="col d-flex justify-content-end">
        <h4>Total do pedido: 61.80</h4>
      </div>
      <br />

      <pre>Válido = {{ formulario.valid | json }}</pre>
      <pre>Inválido = {{ formulario.invalid | json }}</pre>
      <pre>{{ formulario.value | json }}</pre>
      <!-- Formulário -->
      <h5>Dados de entrega</h5>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <input 
            type="text" 
            class="form-control" 
            placeholder="Endereço" 
            autocomplete="off" 
            required 
            minlength="5"
            maxlength="120" 
            name="endereco" 
            ngModel 
            #inputEndereco="ngModel" 
          />
          <small *ngIf="inputEndereco.valid && inputEndereco.touched" class="form-text text-success">Ok</small>
          <small *ngIf="!inputEndereco.valid && inputEndereco.touched" class="form-text text-danger">Endereço inválido</small>
        </div>

        <div class="col-md-2">
          <input 
            type="text" 
            class="form-control" 
            placeholder="Número" 
            autocomplete="off" 
            required 
            minlength="1"
            maxlength="20" 
            name="numero" 
            ngModel 
            #inputNumero="ngModel" 
          />
          <small *ngIf="inputNumero.valid && inputNumero.touched" class="form-text text-success">Ok</small>
          <small *ngIf="!inputNumero.valid && inputNumero.touched" class="form-text text-danger">Número inválido</small>
        </div>

        <div class="col-md-4">
          <input 
            type="text" 
            class="form-control" 
            placeholder="Complemento" 
            autocomplete="off" 
            name="complemento" 
            ngModel 
            #inputComplemento="ngModel" 
          />
          <small *ngIf="inputComplemento.valid && inputComplemento.touched" class="form-text text-success">Ok</small>
        </div>
      </div>
      <br />

      <h5>Dados de pagamento</h5>
      <hr />
      <div>
        <div class="col-md-3">
          <select 
            class="form-control" 
            required
            name="formaPagamento" 
            ngModel
            #selectFormaPagamento="ngModel"
          >
            <option value="">Selecione uma opção</option>
            <option value="dinheiro">Dinheiro</option>
            <option value="debito">Débito</option>
          </select>
          <small *ngIf="selectFormaPagamento.valid && selectFormaPagamento.touched" class="form-text text-success">Ok</small>
          <small *ngIf="!selectFormaPagamento.valid && selectFormaPagamento.touched" class="form-text text-danger">Forma de pagamento inválida</small>
        </div>
      </div>
      <hr />

      <button type="submit" class="btn btn-primary btn-lg">Cofirmar compra</button>
    </form>
  </div>
</div>
