.ordem-compra {
  margin-top: 40px;
  margin-bottom: 120px;
  padding-bottom: 6rem;
}

.col-md-2, .col-md-4 {
  padding-top: 12px;
}

.col-sm-2 img {
  max-width: 296px;
  width: 100%;
  height: auto;
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
  border: 1px solid var(--bs-danger);
}

input.ng-valid.ng-touched, select.ng-valid.ng-touched {
  border: 1px solid var(--bs-success);
}

.btn-link {
  text-decoration: none;
}

a {
  text-decoration: none !important;
  color: var(--neutral-3) !important;
}

@media(min-width: 768px) {
  .col-md-2, .col-md-4 {
    padding-top: 0;
  }
}
