<div class="container">
  <div class="ordem-compra">
    <form novalidate>
      <h5>Sua Compra</h5>
      <hr />

      <!-- Item 1 -->
      <div style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
        <div class="col-sm-1">
          <img src="/assets/ofertas/1/img1.jpg" class="img-fluid">
        </div>
        
        <div class="col-sm-6">
          Super Burger
          <br />
          Rodízio de Mini-hambúrger com opção de entrada.
        </div>
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-link">-</button>
            1
            <button type="button" class="btn btn-link">+</button>
          </div>
        </div>

        <div class="col-sm-3 d-flex justify-content-end">29.90</div>
      </div>

      <!-- Item 2 -->
      <div style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
        <div class="col-sm-1">
          <img src="/assets/ofertas/4/img1.jpg" class="img-fluid">
        </div>

        <div class="col-sm-6">
          Estância das águas
          <br />
          Diversão garantida com piscinas, trilhas e muito mais.
        </div>
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-link">-</button>
            1
            <button type="button" class="btn btn-link">+</button>
          </div>
        </div>
        
        <div class="col-sm-3 d-flex justify-content-end">31.90</div>
      </div>

      <!-- Total -->
      <div class="col d-flex justify-content-end mt-3">
        <h4>Total do pedido: 61.80</h4>
      </div>
      <br />

      <!-- Formulário -->
      <h5>Dados de entrega</h5>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <input 
            #inputEndereco 
            type="text" 
            class="form-control {{ enderecoPristine ? '' : enderecoValido ? 'is-valid' : 'is-invalid' }}" 
            placeholder="Endereço" 
            autocomplete="off" 
            minlength="5" 
            required 
            [value]="endereco" 
            (input)="atualizaEndereco(inputEndereco.value)" 
          />
          <div class="valid-feedback">Ok</div>
          <div class="invalid-feedback">Endereço inválido</div>
        </div>

        <div class="col-md-2">
          <input 
            #inputNumero 
            type="number" 
            class="form-control {{ numeroPristine ? '' : numeroValido ? 'is-valid' : 'is-invalid' }}" 
            placeholder="Número" 
            autocomplete="off" 
            minlength="1" 
            required 
            [value]="numero" 
            (input)="atualizaNumero(inputNumero.value)" 
          />
          <div class="valid-feedback">Ok</div>
          <div class="invalid-feedback">Número inválido</div>
        </div>

        <div class="col-md-4">
          <input 
            #inputComplemento 
            type="text" 
            class="form-control {{ complementoPristine ? '' : complementoValido ? 'is-valid' : ''}}" 
            placeholder="Complemento" 
            autocomplete="off" 
            [value]="complemento" 
            (input)="atualizaComplemento(inputComplemento.value)"
          />
          <div class="valid-feedback">Ok</div>
        </div>
      </div>
      <br />

      <h5>Dados de pagamento</h5>
      <hr />
      <div class="col-md-3">
        <select 
          #selectFormaPagamento 
          class="form-control {{ formaPagamentoPristine ? '' : formaPagamento ? 'is-valid' : 'is-invalid' }}" 
          (change)="atualizaFormaPagamento(selectFormaPagamento.value)"
        >
          <option value="">Selecione uma opção</option>
          <option value="dinheiro" selected="{{ formaPagamento == 'dinheiro' ? 'selected' : '' }}">Dinheiro</option>
          <option value="debito" selected="{{ formaPagamento == 'debito' ? 'selected' : '' }}">Débito</option>
        </select>
        <div class="valid-feedback">Ok</div>
        <div class="invalid-feedback">Selecione uma forma de pagamento</div>
      </div>
      <hr />

      <button type="button" class="btn btn-primary btn-lg" [disabled]="formEstado" (click)="confirmarCompra()">Cofirmar compra</button>
    </form>
  </div>
</div>