.ordem-compra {
  margin-top: 40px;
  margin-bottom: 120px;
  padding-bottom: 6rem;
}

input.ng-invalid.ng-touched, 
select.ng-invalid.ng-touched {
  border: 1px solid var(--bs-danger);
}

input.ng-valid.ng-touched, 
select.ng-valid.ng-touched {
  border: 1px solid var(--bs-success);
}

.btn-link {
  text-decoration: none;
}

a {
  text-decoration: none !important;
  color: var(--neutral-3) !important;
}