.img-capa img {
  max-width: 100%;
  width: 372px;
  height: auto;
}

.thumbnails {
  margin-top: 10px;
}

.thumbnails img {
  width: 124px;
  height: 80px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.valor {
  color: var(--neutral-1);
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: calc(1.375rem + 1.5vw);
}

.tabs {
  margin-top: 2rem;
  padding-bottom: 5rem;
}

@media(min-width: 1200px) {
  .tabs {
    padding-bottom: 0;
  }
}
