.oferta {
  margin-top: 25px;
}

.oferta img {
  width: 372px;
  height: 240px;
}

.thumbnails {
  margin-top: 10px;
}

.thumbnails img {
  width: 124px;
  height: 80px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.valor {
  color: #555;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: calc(1.375rem + 1.5vw);
}
