<div class="container">
  <div class="ordem-compra" *ngIf="idPedidoCompra === undefined">
    <form [formGroup]="formulario" (ngSubmit)="confirmarCompra()" novalidate>
      <h5>Sua Compra</h5>
      <hr />
      
      <div class="container">

        <!-- Itens do Carrinho -->
        <div *ngIf="itensCarrinho.length; else carrinhoVazio">
          <div 
            *ngFor="let item of itensCarrinho" 
            class="row align-items-center" 
            style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0"
          >
            <div class="col-sm-2">
              <img [src]="item.oferta.imagens[0].url" [alt]="item.oferta.imagens[0].alt" class="img-fluid" />
            </div>
    
            <div class="col-sm-5">
              {{ item.oferta.titulo }}<br />
              {{ item.oferta.descricaoOferta }}
            </div>
  
            <div class="col-sm-3">
              <button (click)="alterarQuantidade(item, '-')" type="button" class="btn btn-link">-</button>
              {{ item.quantidade }}
              <button (click)="alterarQuantidade(item, '+')" type="button" class="btn btn-link">+</button>
            </div>
            
            <div class="col-sm-2 d-flex justify-content-end">{{ item.quantidade * item.oferta.valor | currency }}</div>
          </div>

          <!-- Total -->
          <div class="col d-flex justify-content-end mt-3">
            <h4>Total do pedido: {{ carrinhoService.totalCarrinhoCompras() | currency }}</h4>
          </div>
        </div>

        <!-- Carrinho vazio -->
        <ng-template #carrinhoVazio>
          <a routerLink="">
            <div class="row d-flex justify-content-center" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
              Seu carrinho está vazio. Não perca tempo, aproveite as nossas ofertas!
            </div>
          </a>
        </ng-template>
      </div>
      
      <!-- Formulário -->
      <h5 class="mt-4">Dados de entrega</h5>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <input 
            type="text" 
            class="form-control" 
            placeholder="Endereço" 
            autocomplete="off" 
            formControlName="endereco" 
          />

          <small *ngIf="formulario.get('endereco')?.valid && formulario.get('endereco')?.touched" class="form-text text-success">Ok</small>
          <small *ngIf="formulario.get('endereco')?.invalid && formulario.get('endereco')?.touched" class="form-text text-danger">Endereço inválido</small>
        </div>

        <div class="col-md-2">
          <input 
            type="number" 
            class="form-control" 
            placeholder="Número" 
            autocomplete="off" 
            formControlName="numero"
          />

          <small *ngIf="formulario.get('numero')?.valid && formulario.get('numero')?.touched" class="form-text text-success">Ok</small>
          <small *ngIf="formulario.get('numero')?.invalid && formulario.get('numero')?.touched" class="form-text text-danger">Número inválido</small>
        </div>

        <div class="col-md-4">
          <input 
            type="text" 
            class="form-control" 
            placeholder="Complemento" 
            autocomplete="off" 
            formControlName="complemento" 
          />
          <small *ngIf="formulario.get('complemento')?.touched" class="form-text text-success">Ok</small>
        </div>
      </div>
      <br />

      <h5>Dados de pagamento</h5>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <select class="form-select" formControlName="formaPagamento">
            <option>Selecione uma opção</option>
            <option value="dinheiro">Dinheiro</option>
            <option value="debito">Débito</option>
          </select>
          
          <small *ngIf="formulario.get('formaPagamento')?.valid && formulario.get('formaPagamento')?.touched" class="form-text text-success">Ok</small>
          <small *ngIf="formulario.get('formaPagamento')?.invalid && formulario.get('formaPagamento')?.touched" class="form-text text-danger">Forma de pagamento inválida</small>
        </div>
      </div>
      <hr />
      
      <div class="row">
        <div class="col-md-4 mb-4">
          <button type="submit" class="btn btn-primary btn-lg">Cofirmar compra</button>
        </div>

        <!-- Alerta -->
        <div class="col-md-8">
          <app-alerta></app-alerta>
        </div>
      </div>
    </form>
  </div>

  <!-- Feedback -->
  <div class="ordem-compra" *ngIf="idPedidoCompra !== undefined">
    <app-ordem-compra-sucesso [idPedidoCompra]="idPedidoCompra"></app-ordem-compra-sucesso>
  </div>
</div>
