.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 4.5rem;
}

img {
  height: 12.5rem;
  border-radius: 4px;
}

h4 {
  padding-top: .5rem;
}

span {
  font-weight: bold;
  color: var(--brand-3) !important;
}

.btn {
  width: 6rem;
  margin-left: 12px;
}

@media(min-width: 768px) {
  h4 {
    padding-top: 0;
  }
}
