* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

:root {
  --brand-1: #fb6404;
  --brand-2: #046bcb;
  --brand-3: #044f99;
  --neutral-1: #555;
  --neutral-2: #999;
  --neutral-3: #2c2c2c;
  --neutral-4: #fff;
}

h3, h4 {
  color: var(--neutral-1) !important;
}

h5 {
  color: var(--neutral-2) !important;
}

.secao {
  margin-top: 30px;
  margin-bottom: 30px;
}

p {
  color: var(--neutral-3) !important;
}

input {
  height: 40px;
}

.card img {
  height: 200px;
}

.ofertas-preco {
  color: var(--brand-1) !important;
  font-weight: bold;
}
