/* ===== RESET ========== */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}


/* ===== LAYOUT ========== */
:root {
  --branco: #fff;
}

h3,
h4 {
  color: #555;
}

h5 {
  color: #999;
}

.card img {
  height: 200px;
}

.secao {
  margin-top: 30px;
  margin-bottom: 30px;
}

.preco {
  color: #f60;
  font-weight: bold;
  font-size: 20px;
}
