.container-fluid {
  padding: 0 1rem;
}

.navbar-nav {
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.pesquisa {
  width: 75%;
}

a {
  text-decoration: none;
  color: var(--neutral-1);
}

.itens-carrinho {
  display: none;
}

.menu {
  background: var(--brand-2);
}

.nav-link {
  color: #c1e4ff;
  max-width: 440px !important;
}

.nav-link:hover, .active {
  color: var(--neutral-4);
}

@media(min-width: 576px) {
  .itens-carrinho {
    display: block;
    color: var(--brand-2) !important;
  }
}

@media(min-width: 768px) {
  .navbar-nav {
    justify-content: space-evenly;
  }
}

@media(min-width: 992px) {
  .container-fluid {
    padding: 0 4vw;
  }
}
