a {
  text-decoration: none;
  color: var(--neutral-1);
}

.menu {
  background: var(--brand-2);
}

.container {
  display: block;
}

.nav-link {
  color: #c1e4ff;
}

.nav-link:hover, .active {
  color: var(--neutral-4);
}

.banner {
  margin-top: 130px;
}

.banner img {
  width: 100%;
  height: 230px;
}
